@import url('http://fonts.cdnfonts.com/css/circular-std');
.dataTable {
  font-family: 'Circular Std', sans-serif;
  border-collapse: collapse;
  width: 70%;
  text-align: center;
}
  
  .tableData, .tableHead {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .tableRow:nth-child(even) {
    background-color:#e1e1e1;
  }

* {
  margin: 0;
  font-family: 'Circular Std', sans-serif;
  border: 1px; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

